// Responsive breakpoints

// Extra small devices (portrait phones, less than 576px)
$responsive-breakpoint-xs: "320px";
$responsive-breakpoint-s: "480px";

// Medium devices (tablets, 768px and up)
$responsive-breakpoint-m: "768px";
$responsive-breakpoint-l: "1024px";

// Extra large devices (large desktops, 1200px and up)
$responsive-breakpoint-xl: "1280px";
$responsive-breakpoint-xxl: "1440px";

// Colors
$primary-color: #111827;
$secondary-color: #743ad5;
