@import "_variables.css";
@import url(https://fonts.googleapis.com/css?family=Poppins);

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  scrollbar-color: var(--secondary-color) var(--primary-color);
}
