@import url(https://fonts.googleapis.com/css?family=Poppins);

@import "./_variables.css";

@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  scrollbar-color: var(--secondary-color) var(--primary-color);
}

button {
  cursor: pointer;
}

/**
  * Used by the Vue transition component
  */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
